<form class="main-checkout__form checkout-form js-checkout" action="">
    <div class="checkout-form__field-wrapper">
        <label for="checkoutEmail">Эл.почта</label>
        <input class="checkout-form__field checkout-form__field--email js-field" id="checkoutEmail" type="email" placeholder="petrov@yandex.ru" name="formEmail" required>
    </div>
    
    <div class="checkout-form__field-wrapper">
        <label for="checkoutPhone">Телефон</label>
        <input class="checkout-form__field checkout-form__field--phone js-field" id="checkoutPhone" type="tel" placeholder="+7 999 275-12-37" name="formPhone" required>
    </div>
    <div class="checkout-form__field-wrapper">
        <label for="checkoutCity">Город</label>
        <input class="checkout-form__field checkout-form__field--city js-field" id="checkoutCity" type="text" placeholder="Москва" name="formCity" required>
    </div>
    <div class="checkout-form__field-wrapper">
        <label for="checkoutAddress">Адрес</label>
        <textarea class="checkout-form__field checkout-form__field--address js-field" id="checkoutAddress" type="text" placeholder="Тимирязевская, 32б квартира 99, вход со двора" name="formAddress" required></textarea>
    </div>
    <div class="checkout-form__complete">
        <span>Бесплатная доставка&nbsp;курьером. Оплата картой онлайн.</span>
        <div class="checkout-form__complete-btn btn-wrapper">
            <button type="submit" class="checkout-btn btn">Оформить заказ, <span>276 000</span> &#8381;</button>
        </div>
    </div>
</form>