<div class="footer-checkout__wrapper container">
    <span>&copy; Фетч-команда, 2019</span>
    <a class="footer-checkout__phone" href="tel:+78009121142" itemprop="telephone">8 800 912-11-42, звонок бесплатный</a>
    <a class="footer-checkout__email" href="mailto:shop@fetch.ru" itemprop="email">shop@fetch.ru</a>
    <a href="#">Правила обработки персональных данных</a>
</div>