
<div class="item-card__properties" itemprop="description">
    <div class="item-card__property">
        <p class="item-card__property-title">Материал</p>
        <p class="item-card__property-value">Кожа, текстиль</p>
    </div>
    <div class="item-card__property">
        <p class="item-card__property-title">Страна-производитель</p>
        <p class="item-card__property-value">Италия</p>
    </div>
    <div class="item-card__property">
        <p class="item-card__property-title">Описание</p>
        <p class="item-card__property-value">Деконструктивный и авангардный дизайн с уникальными концепциями 
        и нетрадиционным мастерством.</p>
        <p class="item-card__property-value">В качестве материала используются два вида кожи. Верх дополнен 
        деталями из сетчатого материала и текстиля.</p>
        <p class="item-card__property-value">Грубые и многослойные кроссовки показывают отличие от традиционного 
        аккуратного стиля создания обуви. Они оснащены раскрашенной вручную резиновой подошвой с брызгами и потеками.</p>
        <p class="item-card__property-value">Оригинальная слегка асимметричная система шнуровки и фирменный стежок 
        на заднике завершают уникальный внешний вид.</p>
    </div>
    <div class="item-card__property">
        <p class="item-card__property-title">Детали</p>
        <ul class="item-card__property-value">
            <li>Два вида кожи</li>
            <li>Детали из текстиля</li>
            <li>Неординарная шнуровка</li>
            <li>Перфорация на мыске</li>
            <li>Стежок на заднике</li>
            <li>Фигурная резиновая подошва</li>
            <li>Цепкая подметка</li>
            <li>Окрашивание с брызгами и потеками</li>
            <li>Пестрая расцветка</li>
        </ul>
    </div>
</div>      