{% set nav = [
    {name: "Для мужчин", link: "#", categories: [{name: "Верхняя одежда", link: "#"}, {name: "Рубашки и поло", link: "#"}, {name: "Трикотаж", link: "#"}, {name: "Брюки и джинсы", link: "#"}, {name: "Бельё и носки", link: "#"}]},
    {name: "Для женщин", link: "#", categories: [{name: "Верхняя одежда", link: "#"}, {name: "Рубашки и поло", link: "#"}, {name: "Трикотаж", link: "#"}, {name: "Платья и юбки", link: "#"}, {name: "Бельё и носки", link: "#"}]},
    {name: "Обувь", link: "shoes.html", categories: [{name: "Кроссовки и кеды", link: "#"}, {name: "Ботинки", link: "#"}]},
    {name: "Аксессуары", link: "#", categories: [{name: "Сумки и рюкзаки", link: "#"}, {name: "Часы", link: "#"}, {name: "Бижутерия", link: "#"}, {name: "Средства<br> для ухода", link: "#"}]},
    {name: "Скидки", link: "#", categories: [{name: "Летняя распродажа", link: "#"}, {name: "Коллекция 2018", link: "#"}]}
]%}

<ul class="navigation__list" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    {% for section in nav %}
        <li class="navigation__link" itemprop="name">
            <a href="{{section.link}}" itemprop="url">{{section.name}}
                <meta itemprop="position" content="1">
            </a>
            <ul class="navigation__sublist" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
                {% for category in section.categories %}
                    <li class="navigation__sublink" itemprop="name">
                        <a href="{{category.link}}" itemprop="url">{{category.name}}
                        <meta itemprop="position" content="2">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>