{% set folder = 'shoes' %}
{% set category = 'Кроссовки' %}
{% set items = [
    { srcset: '01', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: 'item.html'},
    { srcset: '02', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { srcset: '03', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { srcset: '04', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '05', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '06', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '07', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '08', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '09', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '10', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '11', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '12', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '13', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '14', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '15', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
    { datasrcset: '16', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: '#'},
] %}

{% set reccomend = [] %}
{% for i in 1..20 if reccomend.length <= 7 %}
    {% set random = random(items) %}
    {% if random not in reccomend %}
        {% set reccomend = reccomend|merge([random]) %}
    {% endif %}
{% endfor %}

<div class="item-recommend__slider js-item-recommend">
    {% for item in reccomend %}          
        {% include 'catalog-item.twig' with items %}
    {% endfor %}
</div> 