<div class="white-popup mfp-hide" id="sizes-table-popup">
    {% set sizes = [{country: "US", values: ["4", "4,5", "5", "5,5", "6", "6,5", "7", "7,5"]},
                    {country: "UK", values: ["3,5", "4", "4,5", "5", "5,5", "6", "6,5", "7"]},
                    {country: "EU", values: ["36", "37", "38", "39", "40", "41", "42", "43"]}
    ]%}

    <p class="sizes-table__caption">Таблица размеров</p> 
    <div class="sizes-table__wrapper">
        <table class="sizes-table"> 
            <tbody>
                {% for row in sizes %}
                    <tr class="sizes-table__row">
                        <th class="sizes-table__head">{{ row.country }}</th>
                        {% for i in 0..row.values.length-1 %}
                            <td class="sizes-table__cell">{{ row.values[i] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
</div>