.main-nav__wrapper {
    display: flex;
    padding: 44px 0px 48px;
    
    @media(max-width: $desktop-width) {
        flex-direction: column;
        align-items: center;
        padding: 19px 4px 30px 16px;
    }
}

.main-nav__about-us p {
    width: 230px;
    font-size: 18px;
    line-height: 23px;
}

.main-nav__block a {
    @include underline($text-main-nav, 2px, 1px);
    color: $text-main-nav;

    &:hover {
        color: darken($text-main-nav, 30%);
    }
}

.main-nav__about-us {
    margin-right: 60px;

    @media(max-width: $desktop-width) {
        margin-bottom: 9px;
    }
}

.main-nav .navigation__link {
    margin-right: 32px;

    @media(max-width: $desktop-width) {
        margin-right: 0;
        width: 50%;
        margin-bottom: 17px;
    }
}

.main-nav .navigation__list {
    @media(max-width: $desktop-width) {
        flex-wrap: wrap;
        justify-content: start;
    }

    @media(max-width: $desktop-width) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

