.pagination {
    color: $text-additional;
    margin-top: 20px;
    margin-bottom: 65px;

    @media(max-width: $desktop-width) {
        margin-bottom: 40px;
        margin-top: 0px;
    }
}

.pagination__title {
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 10px;
}

.pagination__list {
    display: flex;
    margin-top: 0px;
    align-items: flex-end;
}

.pagination__link {
    background-image: none;
    color: $text-additional;
    margin-right: 3px;

    &:hover {
        color: $link-hover;
        background-image: none;
    }

    &--active {
        font-size: 24px;
        font-weight: 700;
        color: $text-primary;

        &:hover {
            color: $text-primary;
        }
    }
}