.promo-slider {
    position: relative;
}

.promo-slider img {
    object-fit: cover;
    width: 100vw;
}

.promo-slider .slick-arrow {
    background-color: #fff;

    @media(max-width: $desktop-width) {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.promo-slider .slick-prev {
    left: 24px;
    mask-image: url('../assets/images/icons/arr-left.svg');

    @media(max-width: $desktop-width) {
        left: 10px;
    }
}

.promo-slider .slick-next {
    right: 24px;
    mask-image: url('../assets/images/icons/arr-right.svg');

    @media(max-width: $desktop-width) {
        right: 10px;
    }
}


.promo-slider__slogan-wrapper {
    position: absolute;  
    width: 400px;
    bottom: 77px;
    max-width: 576px;
    width: 100%;

    @media(max-width: $desktop-width) {
        bottom: 36px;
    }
}

.promo-slider__slogan {
    font-weight: 700;
    transition: all 1s;
    animation: underline 1s linear;

    &--desktop {
        font-size: 64px;
        line-height: 83px;
        @include underline($text-primary, 9px, 3px);
        
        @media(max-width: $desktop-width) {
            display: none;
        }
    }
    
    &--mobile {
        display: none;

        @media(max-width: $desktop-width) {
            display: inline;
            font-size: 48px;
            line-height: 62px;
            @include underline($text-secondary, 6px, 2px);
            bottom: 30px;
            color: $text-secondary;
        }
    } 

    &--dark {
        color: $text-secondary;
        @include underline($text-secondary, 9px, 3px);
        animation: underline-d 0.5s linear;

        @media(max-width: $desktop-width) {
            @include underline($text-secondary, 6px, 2px);
        }
    }

    &--light {
        animation: underline-l 0.5s linear;
    }
}


@keyframes underline-d {0% {background-position: 0% 100%;}}
@keyframes underline-l {0% {background-position: 0% 100%;}}