.item-recommend__slider {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    @media(max-width: $desktop-width) {
        max-width: 320px;
    }
}

.item-recommend__slider .slick-prev {
    left: 0px;
    mask-image: url('../assets/images/icons/arr-left.svg');

    @media(max-width: $desktop-width) {
        left: 4px;
    }
}

.item-recommend__slider .slick-next {
    right: 0px;
    mask-image: url('../assets/images/icons/arr-right.svg');

    @media(max-width: $desktop-width) {
        right: 4px;
    }
}

.item-recommend__slider .slick-list {
    overflow: hidden;
    max-width: 1080px;
    margin: 0 auto;

    @media(max-width: $desktop-width) {
        width: 240px;
    }
}

.item-recommend__slider .slick-slide {
    @media(max-width: $desktop-width) {
        max-width: 240px;
        margin-right: 10px;
    }
}

.item-recommend__slider .catalog__item-image {
    width: 240px;
    height: auto;
}

.item-recommend__slider .catalog__item {
    margin: 0 15px;

    @media(max-width: $desktop-width) {
        margin: 0;
    }
}

.recommendation a::before {
    @media(max-width: $desktop-width) {
        top: -300px;
        height: 400px;
        width: 250px;
    } 
}

.recommendation .catalog__item-description {
    max-width: 164px;
}
