// ОБНУЛЕНИЕ СТИЛЕЙ ПО УМОЛЧАНИЮ
*,*:before,*:after{
    padding: 0px;margin: 0px;border: 0px;
    &:hover,
    &:active {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
    outline: none;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
aside,nav,footer,header,section{display: block;}
button{cursor: url(../assets/images/icons/pointer.cur), pointer; outline: none;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}


// ШРИФТЫ
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/pt-sans-v11-cyrillic_latin-regular.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-v11-cyrillic_latin-regular.woff") format("woff");
}
  
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../assets/fonts/pt-sans-v11-cyrillic_latin-700.woff2") format("woff2"),
    url("../assets/fonts/pt-sans-v11-cyrillic_latin-700.woff") format("woff");
}


// ПЕРЕМЕННЫЕ 
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$text-primary: $black;
$text-secondary: $white;
$text-main-nav: rgb(69, 65, 254);
$link-hover: rgb(69, 65, 254);
$text-footer: $white;
$text-additional: rgb(102, 102, 102);

$bg-primary: $white;
$bg-blocks: rgb(242, 242, 242);
$bg-secondary: $black;


$desktop-width: 1199px;
$min-width: 320px;

// МИКСИНЫ 
@mixin underline($color, $bottom, $width) {
    background-repeat: no-repeat;
	background-position: center bottom $bottom;
	background-size: 100% $width;
    background-image: linear-gradient($color, $color);
}

// <СТИЛИ ПО УМОЛЧАНИЮ>
html, body {
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    font-size: 16px;
    font-family: "PT Sans", "Arial", sans-serif;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    color: $text-primary;
    position: relative;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;

    @media(max-width: $desktop-width) {
        padding: 0 16px;
        max-width: 320px;
    }
}

a {
    color: $text-primary;
    cursor: url(../assets/images/icons/pointer.cur), pointer;
    @include underline($text-primary, 2px, 1px);

    &:hover {
        color: $link-hover;
        @include underline($link-hover, 2px, 1px);
    }
}

.slick-track {
    display: flex;
}

.slick-arrow {
    background-color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 0;
    width: 17px;
    height: 22px;
    cursor: url(../assets/images/icons/pointer.cur), pointer;
    opacity: 0.75;

    @media(max-width: $desktop-width) {
        transform: translateY(0%); 
    }

    &:hover {
        opacity: 1;
        box-shadow: 0px 0px 25px;
    }
}

.slick-disabled {
    display: none;
}

.main-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
}

p {
    margin-bottom: 16px;
}

.btn-wrapper button {
    background: linear-gradient(180deg, #FFC908 0%, #FFBA08 100%);
    box-shadow: 0px 0px 15px rgba(255, 146, 17, 0.5);
    border-radius: 4px;
    font-weight: 700;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;

    &:hover {
        background: linear-gradient(180deg, #F5BF00 0%, #F0AD00 100%);
        box-shadow: none;
    }
}

// Подключение файлов стилей блоков
@import "block/header.scss";
@import "block/promo-slider.scss";
@import "block/main-nav.scss";
@import "block/navigation.scss";
@import "block/news.scss";
@import "block/footer.scss";

@import "block/catalog.scss";
@import "block/pagination.scss";
@import "block/item-slider.scss";
@import "block/item.scss";
@import "block/recommend-slider.scss";
@import "block/popup-sizes.scss";
@import "block/about.scss";
@import "block/checkout.scss";
@import "block/checkout-form.scss";




