<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="assets/fonts/pt-sans-v11-cyrillic_latin-regular.woff2" as="font" crossorigin>
    <link rel="stylesheet" href="styles/style.css">
    <meta name="description" content="Фетч — мультибрендовый магазин модной одежды. Следим за трендами и часто обновляем ассортимент. 
    Доставляем по Москве за день, по России — за неделю.">
    <title>Фетч - О магазине</title>
</head>

<body>
    <header class="header-about">
        {% include 'blocks/header.twig' %}
    </header>
    <main class="main-about" itemscope itemtype="https://schema.org/ContactPage">
        <div class="main-about__wrapper container">
            <h1 class="main-about__title main-title">О магазине Фетч</h1>
            <div class="main-about__content">
                <div class="main-about__description" itemprop="abstract" itemscope itemtype="https://schema.org/Product">
                    <p>В магазине <span itemprop="brand">Фетч</span> представлено более 100 ведущих мировых производителей одежды и обуви.</p>
                    <p>Разнообразие ассортимента обеспечивают товары культовых брендов современности: <span itemprop="brand">Barbour, Fred Perry, 
                    Norse Projects, Edwin</span> и капсульные коллекции компаний, делающих ставку на эксклюзивность и премиальный 
                    статус своей продукции — <span itemprop="brand">Stone Island, Polo Ralph Lauren, C.P. Company.</span></p>
                    <p>Приобрести последние можно лишь в нескольких торговых точках по всему миру, включая Фетч. </p>
                    <p>Особый повод для гордости — обширная подборка редких и культовых кроссовок <span itemprop="brand">adidas Originals, Nike, New Balance, 
                    ASICS, Reebok и другие.</span></p>
                </div>
            <section class="main-about__contacts contacts" itemprop="provider" itemscope itemtype="https://schema.org/Organization">
                <p class="contacts__adress" itemprop="address">Москва, Тимирязевская, 3</p>
                <a class="contacts__email" href="mailto:shop@fetch.ru" itemprop="email">shop@fetch.ru</a>
                <a class="contacts__phone" href="tel:+78009121142" itemprop="telephone">8 800 912-11-42</a>
                <p>Звонок бесплатный</p>
                <ul class="contacts__requisites">
                    <li>ИНН/КПП: 2901152637 / 290101001</li>
                    <li>ОГРН: 1062901063576</li>
                    <li>БИК: 041117601, <br>к/с 30101810100000000601</li>
                    <li>Расчетный счет: <br>40702810004000103812<br>в отделении N8637 Сбербанка&nbsp;России, Архангельск</li>
                </ul>
                <p class="contacts__head"  itemscope itemtype="https://schema.org/Person"><span itemprop="jobTitle">Генеральный директор</span> — <span itemprop="name">Василенко&nbsp;Артём&nbsp;Викторович</span></p>
            </section>
            </div>
        </div>
    </main>
    <footer class="footer footer--about">
    {% include 'blocks/footer.twig' %}
    </footer>


    <script src="js/api.js"></script>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/lib/slick.min.js"></script>
    <script src="js/lib/popup.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>