<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="assets/fonts/pt-sans-v11-cyrillic_latin-regular.woff2" as="font" crossorigin>
    <link rel="stylesheet" href="styles/style.css">
    <meta name="description" content="Фетч — мультибрендовый магазин модной одежды. Следим за трендами и часто обновляем ассортимент. 
    Доставляем по Москве за день, по России — за неделю.">
    <title>Фетч - Оформление заказа</title>

</head>
<body>
    <header class="header-checkout--success hidden">
        {% include 'blocks/header.twig' %}
    </header>
    <main class="main-checkout">
        <div class="main-checkout__wrapper main-checkout__wrapper--incomplete container">            
           
            <ul class="main-checkout__navigation"
                itemscope itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="index.html">
                        <span itemprop="name">Фетч</span>
                        <span class="main-checkout__navigation-separator">&bull;&nbsp;</span>
                        <meta itemprop="position" content="1">
                    </a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href="#">
                    <span itemprop="name">Оформление&nbsp;заказа</span>
                    <meta itemprop="position" content="2">
                    </a>
                </li>
            </ul>
            
            <div class="main-checkout__block main-checkout__block--incomplete">
                <section class="main-checkout__cart">
                    <div class="main-checkout__cart-items">
                        {% set folder = 'shoes' %}
                        {% set category = 'Кроссовки' %}
                        {% set items = [
                            { srcset: '11', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: 'item01.html'},
                            { srcset: '17', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: 'item01.html'},
                            { srcset: '01', price: '92 000', name: 'Maison Margiela Fusion Low Sneakers', href: 'item01.html'},
                        ] %}

                        {% for item in items %} 
                            {% include 'blocks/catalog-item.twig' with items %}
                        {% endfor %} 
                    </div>

                    <div class="main-checkout__cart-total" itemscope itemtype="http://schema.org/Offer">
                        <p class="main-checkout__cart-sum"><span itemprop="price">276 000</span> &#8381; <meta itemprop="priceCurrency" content="RUB"></p>
                        <p class="main-checkout__cart-delivery">Доставка бесплатно</p>
                    </div>
                </section>
            
                <section class="main-checkout__form-wrapper">
                    {% include 'blocks/checkout-form.twig' %}
                </section>
            </div>
        </div>
        <div class="main-checkout__wrapper main-checkout__wrapper--complete hidden container">
            <p class="main-checkout__complete-title">Заказ №<span>213<span> оформлен</p>
                <div class="main-checkout__block main-checkout__block--complete">
                    
                    <p class="main-checkout__complete-info">Скоро вам позвонит менеджер, чтобы&nbsp;подтвердить заказ.</p>
                    <p class="main-checkout__complete-info"><a href="index.html">Вернуться на главную</a> или&nbsp;<a href="shoes.html">продолжить&nbsp;покупки в каталоге</a></p>

                    <section class="main-checkout__recommend recommendation">
                        <div class="item-recommend__wrapper">
                            <h2 class="item-recommend__title">Вам может быть интересно</h2>
                        </div>
                        {% include 'blocks/recommend-slider.twig' %}
                    </section>
                </div>
        </div>
    </main>
    <footer class="footer-checkout footer-checkout--incomplete">
        {% include 'blocks/footer-light.twig' %}
    </footer>

    <footer class="footer footer-checkout footer-checkout--complete hidden">
        {% include 'blocks/footer.twig' %}
    </footer>


    </div>


    <script src="js/api.js"></script>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/lib/slick.min.js"></script>
    <script src="js/lib/popup.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>