<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="assets/fonts/pt-sans-v11-cyrillic_latin-regular.woff2" as="font" crossorigin>
    <link rel="stylesheet" href="styles/style.css">
    <meta name="description" content="Фетч — мультибрендовый магазин модной одежды. Следим за трендами и часто обновляем ассортимент. 
    Доставляем по Москве за день, по России — за неделю.">
    <title>Фетч - Maison Margiela Fusion Low Sneakers</title>
</head>

<body>
    <header class="header-item">
        {% include 'blocks/header.twig' %}
    </header>
    <main class="item">
        <section class="item-card" data-id="01" itemscope itemtype="http://schema.org/Product">
            <div class="item-card__wrapper container">
                <div class="item-card__description">
                    <h1 class="item-card__title main-title" itemprop="name">Maison Margiela Fusion Low Sneakers</h1>
                    <p class="item-card__category" itemprop="category">Кроссовки</p>

                    {% include 'blocks/item-form.twig' %}
                    
                    {% include 'blocks/item-description.twig' %}
                </div> 

                <div class="item-card__images"> 
                {% include 'blocks/item-slider.twig' %}
                </div> 
            </div>
        </section>
        <section class="item-recommend recommendation">
            <div class="item-reccommend__wrapper container">
                <h2 class="item-recommend__title">Вам может быть интересно</h2>
            </div>
            {% include 'blocks/recommend-slider.twig' %}
        </section>
        
    </main>
    <footer class="footer footer--item">
        {% include 'blocks/footer.twig' %}
    </footer>


    <script src="js/api.js"></script>
    <script src="js/lib/jquery-3.4.1.min.js"></script>
    <script src="js/lib/slick.min.js"></script>
    <script src="js/lib/popup.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>